body{
    background-color: black;
    font-family: Arial, sans-serif;
    margin: 0; /* espaçamento externo da página */
    padding: 0; /* espaçamento internro da página */
    text-align: center;
}
header{
    background-color: #28a745;
    color: white;
    padding: 15px; /* Espaçamento interno acima e abaixo*/
    font-size: 24px;
}
nav{
    background: #007bff;
    padding: 10px;
    display: flex; /*Flex Boxing */
    justify-content: space-between; /* espaço entre os elemntos do  */
    align-items: center; /* alinhamento na vertical */
}
#links-menu{

    display: flex;
    gap: 20px; /* distancia entre os itens do menu */
}
nav a /* Configura os links do menu */{
    color: white;
    text-decoration: none; /* tira as decorações dos links */
    padding: 10px 15px; /* 10px acima e abaixo 15px esquerda e direita */
    font-size: 18px;
    background: #0056b3;
    border-radius: 5px; /* Cantos arredondados */
}
nav a:hover {
    background-color: lightskyblue;
    font-size: x-large;
}
img{
    width: 120px;
    height: auto;
    margin-right: 80px;
    border-radius: 10px;
}
.container{
    width: 80%; /* largura de 80% da tela*/
    background-color: white;
    border-radius: 10px;
    margin:  20px auto; /* espaçamento externo de 20px acima e abaixo e um espaçamento externo auto à direeita e à esquerda */
    padding: 20px; /* espaçamento interno */     
    text-align: justify; /* deixa o texto justificado */            
}
.container h2{
    text-align: center;
}
.container h3{
    margin-left: 150px;
    font-size: x-large;
}
.Sublinhado{
    color: black;
    font-weight: bold;  
    text-decoration: underline;
}
.txtLaranja{
    color: orange;
    font-weight: bold;  
    font-style: italic;
}
.txtPreta{
    color: black;
    font-weight: bold;  
    font-style: italic;
}
.txtRoxa{
    color: purple;
    font-weight: bold;  
    font-style: italic;
}
.txtVerde{
    color: green;
    font-weight: bold;  
    font-style: italic;
}
.txtVermelha{
    color: red;
    font-weight: bold;  
    font-style: italic;
}
ol li{
    padding-bottom: 10px;
}
table{
    justify-self: center;
    align-items: center;
}
.tabela1{
    margin-top: -80px;
}
.tabela2{
    margin-top: -170px;
}
table tr td{
    padding: 20px;
}
tr th{
    text-align: center;
}
.tdEB{
    color: red;
}
.laranja{
    background-color: orange;
}
.preta{
    color: white;
    background-color: black;
}
.roxa{
    background-color: purple;
}
.verde{
    background-color: green;
}
.vermelha{
    background-color: red;
}
.cabecalho{
    text-align: center;
    background-color: navy;
    color: white;
}
#fonte{
    display: flex;
    justify-content: center;
    margin-top: 1px;
    font-style: italic;
    font-size: small;
}
.container-Arrecadacao{
    width: 75%;
    margin: 20px auto;
    background-color: lightblue;
    padding: 20px;
    border-radius: 2px;
    border-style: solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.infoAdicional{
    display: flex;
    justify-content: center;
   font-style: italic;
   font-size: small;
}
.tabela-container3{
    display: flex;
    justify-content: center;
}
.tabela3v2{
    text-align: center;
}
.tdLaranja{
    background-color: orange;   
}
.tdPreta{
    color: white;
    background-color: black;
}
.tdRoxa{
    background-color: purple;
}
.tdVerde{
    background-color: green;
}
.tdVermelha{
    background-color: red;
}
